<div class="container">
    <div (click)="goToUser()" class="col-xs-12 col-sm-6 col-md-4 col-lg-4 card">
            <p class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Jan</p>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 cardDiv"><img src="../../assets/images/pasfoto.jpg" class="cardImage"></div>
            <p class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Janssens</p>
            <p class="col-xs-6 col-sm-6 col-md-6 col-lg-6">35</p>
            <p class="col-xs-6 col-sm-6 col-md-6 col-lg-6">1m85</p>
            <p class="col-xs-6 col-sm-6 col-md-6 col-lg-6">75kg</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 card">
            <p class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Jan</p>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 cardDiv"><img src="../../assets/images/pasfoto.jpg" class="cardImage"></div>
            <p class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Janssens</p>
            <p class="col-xs-6 col-sm-6 col-md-6 col-lg-6">35</p>
            <p class="col-xs-6 col-sm-6 col-md-6 col-lg-6">1m85</p>
            <p class="col-xs-6 col-sm-6 col-md-6 col-lg-6">75kg</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 card">
            <p class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Jan</p>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 cardDiv"><img src="../../assets/images/pasfoto.jpg" class="cardImage"></div>
            <p class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Janssens</p>
            <p class="col-xs-6 col-sm-6 col-md-6 col-lg-6">35</p>
            <p class="col-xs-6 col-sm-6 col-md-6 col-lg-6">1m85</p>
            <p class="col-xs-6 col-sm-6 col-md-6 col-lg-6">75kg</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 card">
            <p class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Jan</p>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 cardDiv"><img src="../../assets/images/pasfoto.jpg" class="cardImage"></div>
            <p class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Janssens</p>
            <p class="col-xs-6 col-sm-6 col-md-6 col-lg-6">35</p>
            <p class="col-xs-6 col-sm-6 col-md-6 col-lg-6">1m85</p>
            <p class="col-xs-6 col-sm-6 col-md-6 col-lg-6">75kg</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 card">
            <p class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Jan</p>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 cardDiv"><img src="../../assets/images/pasfoto.jpg" class="cardImage"></div>
            <p class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Janssens</p>
            <p class="col-xs-6 col-sm-6 col-md-6 col-lg-6">35</p>
            <p class="col-xs-6 col-sm-6 col-md-6 col-lg-6">1m85</p>
            <p class="col-xs-6 col-sm-6 col-md-6 col-lg-6">75kg</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 card">
            <p class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Jan</p>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 cardDiv"><img src="../../assets/images/pasfoto.jpg" class="cardImage"></div>
            <p class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Janssens</p>
            <p class="col-xs-6 col-sm-6 col-md-6 col-lg-6">35</p>
            <p class="col-xs-6 col-sm-6 col-md-6 col-lg-6">1m85</p>
            <p class="col-xs-6 col-sm-6 col-md-6 col-lg-6">75kg</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 card">
            <p class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Jan</p>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 cardDiv"><img src="../../assets/images/pasfoto.jpg" class="cardImage"></div>
            <p class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Janssens</p>
            <p class="col-xs-6 col-sm-6 col-md-6 col-lg-6">35</p>
            <p class="col-xs-6 col-sm-6 col-md-6 col-lg-6">1m85</p>
            <p class="col-xs-6 col-sm-6 col-md-6 col-lg-6">75kg</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 card">
            <p class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Jan</p>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 cardDiv"><img src="../../assets/images/pasfoto.jpg" class="cardImage"></div>
            <p class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Janssens</p>
            <p class="col-xs-6 col-sm-6 col-md-6 col-lg-6">35</p>
            <p class="col-xs-6 col-sm-6 col-md-6 col-lg-6">1m85</p>
            <p class="col-xs-6 col-sm-6 col-md-6 col-lg-6">75kg</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 card">
            <p class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Jan</p>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 cardDiv"><img src="../../assets/images/pasfoto.jpg" class="cardImage"></div>
            <p class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Janssens</p>
            <p class="col-xs-6 col-sm-6 col-md-6 col-lg-6">35</p>
            <p class="col-xs-6 col-sm-6 col-md-6 col-lg-6">1m85</p>
            <p class="col-xs-6 col-sm-6 col-md-6 col-lg-6">75kg</p>
    </div>
</div>