@font-face {
  font-family: 'Droid';
  src: url('../../assets/fonts/DroidSans.ttf');
}

body{
  background-image: url('../images/background3test.jpg');    
  color: #F4F4F4 !important;
  font-family: 'Droid';
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
}

.navigation{
  background-color: transparent;
  border:none;
}

.navbutton{
  margin-top: 10%;
}