body{
    background-image: url('../images/background3.jpg');    
    background-repeat:no-repeat;
    color: #F2F2F2 !important;
    
}

.navigation{
    background-color: transparent;
  /*  box-shadow: 0px -20px 100px black; */
    border:none;
}

.navbutton{
    margin-top: 10%;
}
