@font-face {
font-family: 'Ostrich';
src: url('/src/assets/fonts/OstrichSans-Black.otf');
font-weight: bold;
}

@font-face {
  font-family: 'Droid';
  src: url('/src/assets/fonts/DroidSans.ttf');
}

$mainFont: "Droid";
$inputFont: Helvetica, sans-serif;
$mainFontColor: black;
$textShadowColor: #777777;
$altFontColor: #F2F2F2;
$mainColor: #4D00C7;
$mainColorAccent: #C19AFF;
$addCardBackgroundColor:#FFA207;
$errorColor: orange;
$errorBackgroundColor: rgba(50,50,50,0.5);
$successColor: #3ED600;
$cardColor: white;
$cardAccentColor: #F0F0F0;
$cardAccentColorAlt: #D2D2D2;

$inputColorError:$errorColor;

body {
  font: 100% $mainFont;
  color: $mainFontColor;
}