@font-face {
font-family: 'Ostrich';
src: url('/src/assets/fonts/OstrichSans-Black.otf');
font-weight: bold;
}

@font-face {
  font-family: 'Droid';
  src: url('/src/assets/fonts/DroidSans.ttf');
}

$mainFont: "Droid";
$inputFont: Helvetica, sans-serif;
$mainFontColor: black;
$textShadowColor: #777777;
$altFontColor: #F2F2F2;
$mainColor: #4D00C7;
$mainColorAccent: #C19AFF;
$mainColorAccent2: rgba(77,0,192,0.5);
$addCardBackgroundColor:#FFA207;
$errorColor: orange;
$errorBackgroundColor: rgba(50,50,50,0.5);
$deleteColor: red;
$successColor: #3ED600;
$cardColor: white;
$cardAccentColor: #F0F0F0;
$cardAccentColorAlt: #D2D2D2;
$headerColor: $mainColorAccent2;



$inputColorError:$errorColor;

body {
  font: 100% $mainFont;
  color: $mainFontColor;
}

.btn-danger{
  background-color: $headerColor;
  color:$altFontColor;
  border: white 1px solid;
  border-radius:0px;
  &:hover{
    background-color: transparent;
    color: $mainFontColor;
    border: $headerColor 1px solid;
  }
}

.btn-default{
  border-radius: 0px;
  &:hover{
   border-radius: 0px;
  }
}

.modal-header{
  color:$altFontColor;
  font-weight: bolder;
  background-color:$headerColor;
}