#logoutImg{
    width:40px;
    height:40px;
}

.navigatieheader{
    padding-right:5px;

    img{
        height:100%;
    }
}

#logoutButton{
    padding:0;
    background-color:transparent;
    border: none;
}