.card{
   background-color: rgba(255,255,255,.7);
   border: lightgray solid 1px;
   color:black;
   border-radius: 15px 0px 15px 0px;
   height: 200px;
   width:95%;
   margin-bottom:10px;
   padding: 5%;
   -webkit-transition: all 0.1s ease; /* Safari and Chrome */
    -moz-transition: all 0.1s ease; /* Firefox */
    -o-transition: all 0.1s ease; /* Opera */
    transition: all 0.1s ease;
    position:inherit;
}

.table{
    width:50%;
}

.table tbody tr td{
    border:none;
    padding:3px;
}

.table tbody tr{
    width:50%;
}

.cardImage{
    width:100%;
    
}

.userInfo{
    font-weight:bold;
}

.cardDiv{
     float:right;
}

.card:hover {
    color: white;
    background-color:rgba(70,255,0,.5);
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* IE 9 */
    -o-transform:scale(1.1); /* Opera */
    transform:scale(1.1);}