<div class="container">
        <div (click)="goToUser()" class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="card">
        <table class="table col-xs-6">
              <tbody>
                    <tr><td class="specifier">Name</td><td class="userInfo">Jan Janssens Gonzalez Lopez Martinez</td></tr>
                    <tr><td class="specifier">Age</td><td class="userInfo">35</td></tr>
                    <tr><td class="specifier">Height</td><td class="userInfo">1m85</td></tr>
                    <tr><td class="specifier">Weight</td><td class="userInfo">75kg</td></tr>
              </tbody>
        </table>
              <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 cardDiv"><img src="../../assets/images/no_picture.jpg" class="cardImage"></div>
        </div>
        </div>
        <div (click)="goToUser()" class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="card">
        <table class="table col-xs-6">
              <tbody>
                    <tr><td class="specifier">Name</td><td class="userInfo">Jan Janssens Gonzalez Lopez Martinez</td></tr>
                    <tr><td class="specifier">Age</td><td class="userInfo">35</td></tr>
                    <tr><td class="specifier">Height</td><td class="userInfo">1m85</td></tr>
                    <tr><td class="specifier">Weight</td><td class="userInfo">75kg</td></tr>
              </tbody>
        </table>
              <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 cardDiv"><img src="../../assets/images/no_picture.jpg" class="cardImage"></div>
        </div>
        </div>
        <div (click)="goToUser()" class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="card ">
        <table class="table col-xs-6">
              <tbody>
                    <tr><td class="specifier">Name</td><td class="userInfo">Jan Janssens Gonzalez Lopez Martinez</td></tr>
                    <tr><td class="specifier">Age</td><td class="userInfo">35</td></tr>
                    <tr><td class="specifier">Height</td><td class="userInfo">1m85</td></tr>
                    <tr><td class="specifier">Weight</td><td class="userInfo">75kg</td></tr>
              </tbody>
        </table>
              <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 cardDiv"><img src="../../assets/images/no_picture.jpg" class="cardImage"></div>
        </div>
        </div>
        <div (click)="goToUser()" class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="card">
        <table class="table col-xs-6">
              <tbody>
                    <tr><td class="specifier">Name</td><td class="userInfo">Jan Janssens Gonzalez Lopez Martinez</td></tr>
                    <tr><td class="specifier">Age</td><td class="userInfo">35</td></tr>
                    <tr><td class="specifier">Height</td><td class="userInfo">1m85</td></tr>
                    <tr><td class="specifier">Weight</td><td class="userInfo">75kg</td></tr>
              </tbody>
        </table>
              <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 cardDiv"><img src="../../assets/images/no_picture.jpg" class="cardImage"></div>
        </div>
        </div>
        <div (click)="goToUser()" class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="card">
        <table class="table col-xs-6">
              <tbody>
                    <tr><td class="specifier">Name</td><td class="userInfo">Jan Janssens Gonzalez Lopez Martinez</td></tr>
                    <tr><td class="specifier">Age</td><td class="userInfo">35</td></tr>
                    <tr><td class="specifier">Height</td><td class="userInfo">1m85</td></tr>
                    <tr><td class="specifier">Weight</td><td class="userInfo">75kg</td></tr>
              </tbody>
        </table>
              <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 cardDiv"><img src="../../assets/images/no_picture.jpg" class="cardImage"></div>
        </div>
        </div>
        <div (click)="goToUser()" class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="card">
        <table class="table col-xs-6">
              <tbody>
                    <tr><td class="specifier">Name</td><td class="userInfo">Jan Janssens Gonzalez Lopez Martinez</td></tr>
                    <tr><td class="specifier">Age</td><td class="userInfo">35</td></tr>
                    <tr><td class="specifier">Height</td><td class="userInfo">1m85</td></tr>
                    <tr><td class="specifier">Weight</td><td class="userInfo">75kg</td></tr>
              </tbody>
        </table>
              <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 cardDiv"><img src="../../assets/images/no_picture.jpg" class="cardImage"></div>
        </div>
        </div>
        <div (click)="goToUser()" class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="card">
        <table class="table col-xs-6">
              <tbody>
                    <tr><td class="specifier">Name</td><td class="userInfo">Jan Janssens Gonzalez Lopez Martinez</td></tr>
                    <tr><td class="specifier">Age</td><td class="userInfo">35</td></tr>
                    <tr><td class="specifier">Height</td><td class="userInfo">1m85</td></tr>
                    <tr><td class="specifier">Weight</td><td class="userInfo">75kg</td></tr>
              </tbody>
        </table>
              <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 cardDiv"><img src="../../assets/images/no_picture.jpg" class="cardImage"></div>
        </div>
        </div>
        <div (click)="goToUser()" class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="card">
        <table class="table col-xs-6">
              <tbody>
                    <tr><td class="specifier">Name</td><td class="userInfo">Jan Janssens Gonzalez Lopez Martinez</td></tr>
                    <tr><td class="specifier">Age</td><td class="userInfo">35</td></tr>
                    <tr><td class="specifier">Height</td><td class="userInfo">1m85</td></tr>
                    <tr><td class="specifier">Weight</td><td class="userInfo">75kg</td></tr>
              </tbody>
        </table>
              <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 cardDiv"><img src="../../assets/images/no_picture.jpg" class="cardImage"></div>
        </div>
        </div>
        <div (click)="goToUser()" class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="card">
        <table class="table col-xs-6">
              <tbody>
                    <tr><td class="specifier">Name</td><td class="userInfo">Jan Janssens Gonzalez Lopez Martinez</td></tr>
                    <tr><td class="specifier">Age</td><td class="userInfo">35</td></tr>
                    <tr><td class="specifier">Height</td><td class="userInfo">1m85</td></tr>
                    <tr><td class="specifier">Weight</td><td class="userInfo">75kg</td></tr>
              </tbody>
        </table>
              <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 cardDiv"><img src="../../assets/images/no_picture.jpg" class="cardImage"></div>
        </div>
        </div>
</div>