<div class="wrapper-outer">
  <div class="wrapper-inner">
    <h1>Register</h1>
    <form name="form" #formData='ngForm' (ngSubmit)="onSubmit(formData)" novalidate>
      <p *ngIf="error.message != ''" id="errMsg" class="errMsg">{{error.message}}</p>
      <div class="form-group">
        <input type="text" placeholder="Name" class="form-control" name="name" [(ngModel)]="mentorToAdd.name" required />
      </div>
      <div class="form-group">
        <input type="text" placeholder="Last name" class="form-control" name="lastname"  [(ngModel)]="mentorToAdd.lastname" required />
      </div>
      <div class="form-group">
        <input type="email" placeholder="Email" class="form-control" name="email"  [(ngModel)]="mentorToAdd.email" required />
      </div>
      <div class="form-group">
        <input type="password" placeholder="Password" class="form-control" name="password" (ngModel)="password" required validateEqual="repeatPassword"
        />
      </div>
      <div class="form-group">
        <input type="password" placeholder="Repeat your password" class="form-control" name="repeatPassword" required validateEqual="password"
        />
      </div>
      <div class="form-group" class="buttons">
        <button type="submit" id=registerbutton [disabled]="!formData.valid" class="btn btn-success register-button">Register</button>
        <a [routerLink]="['/login']" id="loginButton" class="btn btn-link login-button">Go Back</a>
      </div>
    </form>
  </div>
</div>