<div id="addExerciseModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add exercise</h4>
            </div>
            <div class="modal-body">
                <label for="name">Name exercise</label>
                <input type=text placeholder="name" name="name" [(ngModel)]="newExercise.name"><br>
                <label for="description">Description</label>
                <textarea cols="50" rows="4" placeholder="description" name="description" [(ngModel)]="newExercise.description"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Go back</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" (click)="createNewExercise()">Add exercise</button>
            </div>
        </div>
    </div>
</div>

<div class="wrapper">
    <div>
        <canvas id="canvas" width=960 height=540></canvas>
    </div>
    <div class="controls col-xs-3">
        <select class="exerciseCombo col-xs-10" (change)="onChangeExercise($event.target.value)">
            <option *ngFor="let exercise of exercisesOfMentor" value="{{exercise.$key}}">{{exercise.name}}</option>
        </select>
            <button *ngIf="viewState" (click)="changeMode()" class="btn btn-primary col-xs-2 switchModeButton"><img src="../../../../assets/images/add.svg"></button>
            <button *ngIf="!viewState" (click)="changeMode()" class="btn btn-danger switchModeButton col-xs-2">Back</button>
        <div *ngIf="viewState">
            <h4 class="col-xs-12 col-sm-12">View steps</h4>
            <ul class="col-xs-12 col-sm-12 stepList">
                <li *ngFor="let step of newExercise.steps" (click)="changeCheckbox($event)" class="stepLi" [ngClass]="{'checkboxChecked': counter.checked }">
                    <input type="checkbox" #counter/>
                    Step {{step.stepNr}}
                </li>
            </ul>
        </div>
        <div *ngIf="!viewState">
            <h4 class="col-xs-4 col-sm-6">New steps</h4>
            <ul class="col-xs-12 col-sm-12 stepList">
                <li (click)="addStep()" class="btn btn-primary newStepButton"><img src="../../../../assets/images/add.svg"></li>
                <li *ngFor="let step of newExercise?.steps" (click)="changeStepToEdit($event,step.stepNr)"class="stepLi" [ngClass]="{'checkboxChecked': counter.checked }">
                    <input type="radio" name="step" value="step" #counter/>
                    <label for="{{step.stepNr}}">Step {{step.stepNr+1}}</label>
                    <button (click)="removeStep(step.stepNr)" class="btn btn-danger removeStepButton"><img src="../../../../assets/images/delete.svg"></button>
                </li>
            </ul>
        </div>
        <div *ngIf="!viewState">
            <h4 class="col-xs-12">Controls</h4>
            <div class="col-xs-12" style="padding:0;" (ngClass)="newStepChosen">
                <button (click)="drawNewTouchPoint()" id="newTPButton" class="btn btn-primary col-xs-4 newPointButton"><p>Touchpoint</p><img class="newPointButtonImg" src="../../assets/images/touchpoint.png"></button>
                <button (click)="drawNewTrackingLine()" id="newLButton" class="btn btn-warning col-xs-4 newPointButton"><p>Line</p> <img class="newPointButtonImg" src="../../assets/images/line.png"></button>
                <button class="btn btn-danger col-xs-4 newPointButton"><p>ActionPoint</p><img class="newPointButtonImg" src="../../assets/images/actionpoint.png"></button>
            </div>
            <div data-toggle="modal" data-target="#addExerciseModal" class="col-xs-6 col-xs-offset-3 btn addExerciseButton">Add exercise</div>
        </div>

    </div>
    <div class="col-xs-12 bottomControls">
    <div *ngIf="!viewState" class="col-xs-12">
        <p class="col-xs-2">Radius</p>
        <p *ngIf="showTrackingLineDetails" class="col-xs-2">Trackingline Offset</p>
        <p class="col-xs-2">Jointtype</p>
    </div>
    <div *ngIf="!viewState" class="col-xs-12">
        <input *ngIf="newExercise.steps[activeStepToDraw]!=undefined" class="col-xs-2 corInput" type="text" placeholder="radius" [(ngModel)]="newExercise.steps[activeStepToDraw].radius"/>
        <input *ngIf="showTrackingLineDetails && newExercise.steps[activeStepToDraw]!=undefined" class="col-xs-2 corInput" type="text" placeholder="offset in pixels" [(ngModel)]="newExercise.steps[activeStepToDraw].trackingLineOffset"/>
        <select *ngIf="newExercise.steps[activeStepToDraw] != undefined" class="col-xs-2 corInput" type="text" [(ngModel)]="newExercise.steps[activeStepToDraw].jointType">
            <option *ngFor="let joint of kinectJoints" value="{{joint?.id}}">{{joint?.name}}</option>
        </select>
    </div>
    </div>
</div>