<div id="addExerciseModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add exercise</h4>
            </div>
            <div class="modal-body">
                <label for="name" class="modal-label-add-exercise">Name exercise</label> <br>
                <input class="modal-input-add-exercise" type=text placeholder="name" name="name" id="description" [(ngModel)]="newExercise.name"><br>
                <label class="modal-label-add-exercise" for="description">Description</label><br>
                <textarea class="modal-textarea" cols="50" rows="4" placeholder="description" name="description" [(ngModel)]="newExercise.description"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="createNewExercise()">Add exercise</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Go back</button>
            </div>
        </div>
    </div>
</div>

<div class="wrapper">
    <div>
        <canvas id="canvas" width=960 height=540></canvas>
    </div>
    <div class="controls col-xs-3">
        <select class="exercise-combo col-xs-10" (change)="onChangeExercise($event.target.value)">
            <option *ngFor="let exercise of exercisesOfMentor" [value]="exercise.$key">{{exercise.name}}</option>
        </select>
        <button *ngIf="viewState" (click)="changeMode()" class="btn btn-primary col-xs-2 switchmode-button-addstep"></button>
        <button *ngIf="!viewState" (click)="changeMode()" class="col-xs-2 btn btn-danger switchmode-button-goback ">Back</button>

        <div *ngIf="viewState">
            <h4 class="col-xs-4 col-sm-6">View steps</h4>
            <ul class="col-xs-12 col-sm-12 step-list">
                <div *ngFor="let step of newExercise?.steps">
                    <li *ngIf="!step.stepNr==0" (click)="changeStepToView($event,step.stepNr)" class="step-li" [ngClass]="{'checkbox-checked': counter.checked }">
                        <input type="radio" name="step" [value]="step" [id]="step.stepNr" #counter/>
                        <label [for]="step.stepNr">Step {{step.stepNr}}</label>
                    </li>
                </div>
            </ul>
        </div>
        <div *ngIf="!viewState">
            <h4 class="col-xs-4 col-sm-6">New steps</h4>
            <ul class="col-xs-12 col-sm-12 step-list">
                <div class="add-step-wrapper">
                    <li (click)="addStep()" class="btn btn-danger new-step-button"></li>
                </div>
                <div *ngFor="let step of newExercise?.steps" class="col">
                    <li *ngIf="!step.stepNr==0" (click)="changeStepToEdit($event,step.stepNr)" class="step-li" [ngClass]="{'checkbox-checked': counter.checked }">
                        <input type="radio" name="step" [value]="step" [id]="step.stepNr" hidden #counter/>
                        <label [for]="step.stepNr" class="col-xs-10 step-label">Step {{step.stepNr}}</label>
                        <button (click)="removeStep(step.stepNr)" class="col-xs-2 glyphicon glyphicon-trash delete-step-btn"></button>

                    </li>
                </div>
            </ul>
        </div>
        <div *ngIf="!viewState">
            <h4 class="col-xs-12">Controls</h4>
            <div class="col-xs-12" style="padding:0;" (ngClass)="new-step-chosen">
                <div class="controls-buttons-wrapper col-xs-4">
                    <button (click)="drawNewTouchPoint(true,false)" class="controls-button col-xs-4 controls-button-touchpoint">Touchpoint 1<!--<p>Touchpoint 1</p>--><!--<img class="newPointButtonImg" src="../../assets/images/touchpoint.png">--></button>
                </div>
                <div class="controls-buttons-wrapper col-xs-4">
                    <button (click)="drawNewTouchPoint(true,true)" class="controls-button col-xs-4 controls-button-touchpoint2">Touchpoint 2<!--<p>Touchpoint 2</p><img class="newPointButtonImg" src="../../assets/images/2touchpoints.png">--></button>
                </div>
                <div class="controls-buttons-wrapper col-xs-4">
                    <button (click)="drawNewTrackingLine(true)" class="controls-button col-xs-4 controls-button-line">Line<!--<p>Line</p> <img class="newPointButtonImg" src="../../assets/images/line.png">--></button>
                </div>
            </div>
            <div data-toggle="modal" data-target="#addExerciseModal" class="col-xs-12 btn btn-danger add-exercise-button">Add exercise</div>
        </div>

    </div>
    <div class="col-xs-12 bottom-controls">
        <!--1 Touchpoint bottomcontrols-->
        <div *ngIf="checkBottomControls(0)" class="col-xs-12 control-specifiers">
            <p *ngIf="newExercise.steps[activeStepToDraw]!=undefined" class="col-xs-1">Radius</p>
            <p *ngIf="showTrackingLineDetails && newExercise.steps[activeStepToDraw]!=undefined" class="col-xs-2">Trackingline Offset</p>
            <p *ngIf="newExercise.steps[activeStepToDraw] != undefined" class="col-xs-2 joint-specifier">Jointtype</p>
            <p *ngIf="newExercise.steps[activeStepToDraw]!=undefined" class="col-xs-1">Score</p>
            <p *ngIf="newExercise.steps[activeStepToDraw]!= undefined" class="col-xs-1">Duration</p>
        </div>
        <div *ngIf="checkBottomControls(0)" class="col-xs-12">
            <input class="col-xs-1" type="text" placeholder="Radius" [(ngModel)]="newExercise.steps[activeStepToDraw].radius" />
            <select class="col-xs-2 joint-combo" type="text" [(ngModel)]="newExercise.steps[activeStepToDraw].jointType">
            <option *ngFor="let joint of kinectJoints" [value]="joint?.id">{{joint?.name}}</option>
            </select>
            <input class="col-xs-1" type="number" placeholder="Score" [(ngModel)]="newExercise.steps[activeStepToDraw].maxScore" />
            <input class="col-xs-1" type="number" placeholder="Duration" [(ngModel)]="newExercise.steps[activeStepToDraw].duration" />
        </div>

        <!--2 Touchpoints bottomcontrols-->
        <div *ngIf="checkBottomControls(2)" class="col-xs-12 control-specifiers">
            <p *ngIf="newExercise.steps[activeStepToDraw]!=undefined" class="col-xs-1">Radius</p>
            <p *ngIf="newExercise.steps[activeStepToDraw] != undefined" class="col-xs-2 joint-specifier">Green Jointtype</p>
            <p *ngIf="newExercise.steps[activeStepToDraw] != undefined" class="col-xs-2 joint-specifier">Red Jointtype</p>
            <p *ngIf="newExercise.steps[activeStepToDraw]!=undefined" class="col-xs-1">Score</p>
            <p *ngIf="newExercise.steps[activeStepToDraw]!= undefined" class="col-xs-1">Duration</p>
        </div>
        <div *ngIf="checkBottomControls(2)" class="col-xs-12">
            <input class="col-xs-1" type="text" placeholder="radius" [(ngModel)]="newExercise.steps[activeStepToDraw].radius" />
            <select class="col-xs-2 joint-combo" type="text" [(ngModel)]="newExercise.steps[activeStepToDraw].jointType">
            <option *ngFor="let joint of kinectJoints" [value]="joint?.id">{{joint?.name}}</option>
            </select>
            <select class="col-xs-2 joint-combo" type="text" [(ngModel)]="newExercise.steps[activeStepToDraw].secondJointType">
            <option *ngFor="let joint of kinectJoints" [value]="joint?.id">{{joint?.name}}</option>
            </select>
            <input class="col-xs-1" type="number" placeholder="Score" [(ngModel)]="newExercise.steps[activeStepToDraw].maxScore" />
            <input class="col-xs-1" type="number" placeholder="Duration" [(ngModel)]="newExercise.steps[activeStepToDraw].duration" />
        </div>

        <!--Trackingline-->
        <div *ngIf="checkBottomControls(1)" class="col-xs-12 control-specifiers">
            <p *ngIf="newExercise.steps[activeStepToDraw]!=undefined" class="col-xs-1">Radius</p>
            <p *ngIf="showTrackingLineDetails && newExercise.steps[activeStepToDraw]!=undefined" class="col-xs-2">Trackingline Offset</p>
            <p *ngIf="newExercise.steps[activeStepToDraw] != undefined" class="col-xs-2 joint-specifier">Jointtype</p>
            <p *ngIf="newExercise.steps[activeStepToDraw]!=undefined" class="col-xs-1">Score</p>
            <p *ngIf="newExercise.steps[activeStepToDraw]!= undefined" class="col-xs-1">Duration</p>
        </div>
        <div *ngIf="checkBottomControls(1)" class="col-xs-12">
            <input class="col-xs-1" type="text" placeholder="radius" [(ngModel)]="newExercise.steps[activeStepToDraw].radius" />
            <select *ngIf="showTrackingLineDetails && newExercise.steps[activeStepToDraw] != undefined" class="col-xs-2 joint-combo" type="text"
                name="offset-tracking-line" [(ngModel)]="newExercise.steps[activeStepToDraw].trackingLineOffset">
                <option value="80">Easy</option>
                <option value="50">Medium</option>
                <option value="25">Hard</option>
            </select>
            <select class="col-xs-2 joint-combo" type="text" [(ngModel)]="newExercise.steps[activeStepToDraw].jointType">
            <option *ngFor="let joint of kinectJoints" [value]="joint?.id">{{joint?.name}}</option>
            </select>
            <input class="col-xs-1" type="number" placeholder="Score" [(ngModel)]="newExercise.steps[activeStepToDraw].maxScore" />
            <input class="col-xs-1" type="number" placeholder="Duration" [(ngModel)]="newExercise.steps[activeStepToDraw].duration" />
        </div>
    </div>
</div>