<div class="shader" (click)=goBack(); [ngClass]="{'shaderExerciseNotSelected': !showComponent}">
    <div class="wrapper" [ngClass]="{'wrapperExerciseNotSelected': !showComponent}">

        <div class="col-xs-12 header">
            <h3 class="col-xs-6">{{exercise?.name}}</h3>
            <div class="col-xs-6"><button class="glyphicon glyphicon-remove-circle backButton" (click)="goBack()"></button></div>
        </div>
        <div *ngIf="!dataLoaded" class="col-xs-12">
            <div style="text-align:center" class="col-xs-12">
            <img style="width:50%" src="../../../../assets/images/preloader.gif">
            </div>
        </div>
        <div style="text-align: center;" *ngIf="dataLoaded && completedExerciseList.length == 0" class="col-xs-12">
            <h1>The user hasn't completed this exercise yet</h1>
            <div class="col-xs-12">
            <img style="width:25%; margin-top:2%;"src="../../../../assets/images/frownyFace.jpg">
            </div>
        </div>
        <div *ngIf="dataLoaded && completedExerciseList.length != 0" class="col-xs-12 graphArea">
            <div class="col-xs-12">
                <h5 class="col-xs-2 col-xs-offset-10">Max score {{maxScore}}</h5>
            </div>
            <div class="col-xs-12">
            <div class="col-xs-3">
                <h3>Lastest score</h3>
            </div>
            <div class="col-xs-7 progress">
                <div class="progress-bar progress-bar-success"  [ngClass]="{'progress-bar-warning' : latestScore < maxScore*.6, 'progress-bar-danger' : latestScore < maxScore*.3}" role="progressbar" [attr.aria-valuenow]="latestScore" aria-valuemin="0"
                    [attr.aria-valuemax]="maxScore" style="min-width: 2em;" [style.width]="(latestScore/maxScore)*100 + '%'">
                    {{latestScorePercentage}}%
                </div>
            </div>
            <div class="col-xs-2 score">
                <h1>{{latestScore}}</h1>
            </div>
            </div>
            <div class="col-xs-12">
            <div class="col-xs-3">
                <h3>Highscore</h3>
            </div>
            <div class="col-xs-7 progress">
                <div class="progress-bar progress-bar-success"  [ngClass]="{'progress-bar-warning' : highscore < maxScore*.6, 'progress-bar-danger' : highscore < maxScore*.3}" role="progressbar" [attr.aria-valuenow]="highscore" aria-valuemin="0"
                    [attr.aria-valuemax]="maxScore" style="min-width: 2em;" [style.width]="(highscore/maxScore)*100 + '%'">
                    {{highscorePercentage}}%
                </div>
            </div>
            <div class="col-xs-2 score">
                <h1>{{highscore}}</h1>
            </div>
            </div>
            <div class="col-xs-12">
            <div class="col-xs-3">
                <h3>Average score</h3>
            </div>
            <div class="col-xs-7 progress">
                <div class="progress-bar progress-bar-success"  [ngClass]="{'progress-bar-warning' : averageScore < maxScore*.6, 'progress-bar-danger' : averageScore < maxScore*.3}" role="progressbar" [attr.aria-valuenow]="averageScore" aria-valuemin="0"
                    [attr.aria-valuemax]="maxScore" style="min-width: 2em;" [style.width]="(averageScore/maxScore)*100 + '%'">
                    {{averageScorePercentage}}%
                </div>
            </div>
            <div class="col-xs-2 score">
                <h1>{{averageScore}}</h1>
            </div>
            </div>
        </div>
    </div>