<div class="shader" (click)=goBack(); [ngClass]="{'shaderExerciseNotSelected': !showComponent}">
    <div class="wrapper" [ngClass]="{'wrapperExerciseNotSelected': !showComponent}">

        <div class="col-xs-12 header">
            <h3 class="col-xs-6">{{exercise?.name}}</h3>
            <div class="col-xs-6"><button class="glyphicon glyphicon-remove-circle backButton" (click)="goBack()"></button></div>
        </div>
        <div class="col-xs-12 graphArea">
            <div style="display: block">
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
        </div>
    </div>
</div>