<div id="addModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add exercise</h4>
            </div>
            <div class="modal-body">
                <button class="btn btn-warning modalButton" data-toggle="modal" data-target="#addFromListModal" data-dismiss="modal">Add exercise from list<br><img src="../../../assets/images/list.svg"></button>
                <button routerLink="/exercise" class="btn btn-primary modalButton" data-dismiss="modal">Add new exercise<br><img src="../../../assets/images/exercise1white.svg"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Go back</button>
            </div>
        </div>
    </div>
</div>

<div id="addFromListModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add exercise</h4>
            </div>
            <div class="modal-body">
                <ul style="padding:0;">
                    <li *ngFor="let exercise of mentorExerciseList" class="exerciseLi" id="mentorExerciseList" (click)="changeRadio($event)"
                        [ngClass]="{'radioChecked': counter.checked }">
                        <input type="radio" name="exercises" [id]="exercise.name" [value]="exercise.$key" #counter/>
                        <label [for]="exercise.name">{{exercise.name}}</label>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" data-toggle="modal" data-target="#addModal">Go back</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" (click)="addExerciseToUserProgram()">Add</button>
            </div>
        </div>
    </div>
</div>

<div id="addNewProgram" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add new program</h4>
            </div>
            <div class="modal-body">
                <p>Program name <input type="text" placeholder="program name" #programName/></p>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="createNewProgram(programName.value)" class="btn btn-danger" data-dismiss="modal">Add Program</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="removeUserModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Remove user</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to remove <span style="font-weight: bold">{{user?.name}} {{user?.lastName}}</span>                    from your list?</p>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="deleteUser()" class="btn btn-danger" data-dismiss="modal">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="wrapperOuter">
        <div class="wrapperInner">
            <div class="card col-xs-12">
                <div class="col-xs-6 col-md-3 backButtonDiv">
                    <button (click)="goBack()" class="btn btn-danger backButton glyphicon glyphicon-backward"></button>
                </div>
                <div class="col-xs-6 col-md-3 deleteUserDiv">
                    <button class="btn btn-danger glyphicon glyphicon-trash deleteUserButton" data-toggle="modal" data-target="#removeUserModal"></button>
                </div>
                <div class="col-xs-6 col-md-0 clearer"></div>
                <div class="wrapperLeft col-xs-12 col-md-6">
                    <div class="userImageDiv col-xs-12">
                        <img class="userImage" src="../../../../assets/images/no_picture.jpg">
                        <h3 style="font-weight:bold;">{{user?.name}} {{user?.lastName}}</h3>
                    </div>
                    <div class="userDetailsDiv col-xs-12">
                        <div class="row">
                            <div class="col-xs-4">
                                <img class="userDetailsIcon" src="../../../../assets/images/age.png">
                            </div>
                            <div class="col-xs-4">
                                <img class="userDetailsIcon" src="../../../../assets/images/height.png">
                            </div>
                            <div class="col-xs-4">
                                <img class="userDetailsIcon" src="../../../../assets/images/weight.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="valueDiv col-xs-4">
                                <h4>{{user?.age}}yo</h4>
                            </div>
                            <div class="valueDiv col-xs-4">
                                <h4>{{user?.length}}cm</h4>
                            </div>
                            <div class="valueDiv col-xs-4">
                                <h4>{{user?.weight}}kg</h4>
                            </div>
                        </div>
                    </div>
                    <div class="programDiv col-xs-12">
                        <h5>Current program</h5>
                        <select *ngIf="programList == undefined" [disabled] class="programCombo" data-dismiss="modal" data-toggle="modal" data-target="#addNewProgram">
                   <option *ngIf="programList == undefined" [disabled]  value="no-program"  >This user doesnt have a program yet +</option>
                </select>
                        <select *ngIf="programList != undefined" class="programCombo" (change)="onChangeProgram($event.target.value)">
                    <option *ngFor="let program of programList" [value]="program.programId">{{program.name}}</option>
                </select>
                        <button class="addProgramButton glyphicon glyphicon-plus" data-toggle="modal" data-target="#addNewProgram"></button>
                    </div>
                </div>
                <div class="wrapperRight col-xs-12 col-md-6">
                    <h2 class="col-xs-12">Exercises</h2>
                    <div class="col-xs-12 exerciseWrapper">
                        <div class="col-xs-12 addExerciseDiv">
                            <h4 class="col-xs-9">Add new exercise</h4>
                            <div class="col-xs-3">
                                <h4 *ngIf="programList != undefined" class="glyphicon glyphicon-plus exerciseInteraction" data-toggle="modal" data-target="#addModal"></h4>
                                <h4 *ngIf="programList == undefined" class="glyphicon glyphicon-plus exerciseInteraction" data-toggle="modal" data-target="#addNewProgram"></h4>
                            </div>
                        </div>
                        <div class="col-xs-12 exerciseList">
                            <div *ngFor="let exercise of userExerciseList" class="exerciseListDiv">
                                <h4 class="col-xs-9">{{exercise?.name}}</h4>
                                <div class="col-xs-3">
                                    <h4 class="glyphicon glyphicon-remove-circle exerciseInteraction"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>