<div id="addModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add exercise</h4>
            </div>
            <div class="modal-body">
                <button class="btn btn-warning modalButton">Add exercise from list<br><img src="../../../assets/images/list.svg"></button>
                <button class="btn btn-primary modalButton">Add new exercise<br><img src="../../../assets/images/exercise1white.svg"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Go back</button>
            </div>
        </div>

    </div>
</div>

<div id="removeUserModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Remove user</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to abandon this poor soul? :(</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div class="container">
    <div class="col-xs-12 card">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 cardDiv"><img src="../../../../assets/images/no_picture.jpg" class="cardImage"></div>
        <div class="col-xs-1">
            <button (click)="goBack()" class="btn btn-danger backButton"><img style="width:20px;" src="../../../../assets/images/back.svg"></button>
        </div>
        <h2 class="col-xs-3 col-sm-3">User details</h2>
        <table class="table col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <tbody>
                <tr>
                    <td class="specifier">Name</td>
                    <td class="userInfo">Jan Janssens Gonzalez Lopez Martinez</td>
                </tr>
                <tr>
                    <td class="specifier">Age</td>
                    <td class="userInfo">35</td>
                </tr>
                <tr>
                    <td class="specifier">Height</td>
                    <td class="userInfo">1m85</td>
                </tr>
                <tr>
                    <td class="specifier">Weight</td>
                    <td class="userInfo">75kg</td>
                </tr>
            </tbody>
        </table>
        <div class="col-xs-12 col-sm-12 col-lg-7" id="programDiv">
            <h3 class="col-xs-6 col-sm-6">Program</h3>
            <select class="col-xs-6 col-sm-6">
            <option value="knie">knie</option>
            <option value="arm">arm</option>
        </select>
            <div>
                <h4 class="col-xs-12 col-sm-12">Exercises</h4>
                <ul class="col-xs-12 col-sm-6 exerciseList">
                    <li *ngFor="let counter of teller" (click)="changeCheckbox($event)" class="exerciseLi" [ngClass]="{'checkboxChecked': counter.checked }">
                        <input type="checkbox" #counter/>
                        <label for="Oefening1">Naam oefening</label>
                    </li>
                </ul>
                <div class="col-xs-6 col-sm-6">
                    <button class="btn btn-primary exerciseButton" data-toggle="modal" data-target="#addModal">Add exercise</button>
                </div>
                <div class="col-xs-6 col-sm-6">
                    <button *ngIf="isCheckboxChecked" class="btn btn-danger exerciseButton">Remove exercise</button>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-5">
            <div data-toggle="modal" data-target="#removeUserModal" class="glyphicon glyphicon-trash trashIcon"></div>
        </div>
    </div>
</div>