<h1>Reset password</h1>
<form name="form" (ngSubmit)="onSubmit(formData)" #formData='ngForm'>
    <p *ngIf="error.message != ''" id="errMsg">{{error.message}}</p>
  <div class="form-group">
    <input type="email" placeholder="Email" class="form-control" name="email" (ngModel)="email" required/>
  </div>

  <div class="form-group" id="buttons">
    <button id=resetbutton type="submit" [disabled]="!formData.valid" class="btn btn-primary">Send email</button>
  </div>
      <a [routerLink]="['/login']" id="loginButton" class="btn btn-link">Go back</a>

<form>