<div id="addUserModal" class="modal fade add-user-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add user</h4>
            </div>
            <div class="modal-body" [ngClass]="{'modal-body-error': userNotFound}">
                <div class="error-msg" [ngClass]="{'error-msg-show': userNotFound}">This user does not exist, check the uid again</div>
                <p>User uid</p>
                <input style="width:400px" type="text" id="uid" placeholder="user uid" #uidInput>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="addUser(uidInput.value)">Add</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Go back</button>
            </div>
        </div>

    </div>
</div>
<div class="wrapper">
    <div data-toggle="modal" data-target="#addUserModal" class="col-xs-12 col-sm-6 col-md-6 col-lg-3 card-wrapper">
        <div class="card add-card">
            <p class="add-user-card-text">Add user</p>
            <img class="add-image" src="../../../assets/images/user.svg"></div>
    </div>
    <div *ngFor="let user of userList" (click)="goToUser(user.uid)" class="col-xs-12 col-sm-6 col-md-6 col-lg-3 card-wrapper">
        <div class="card">
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 card-div"><img src="../../../assets/images/no_picture.jpg" class="card-image"></div>
            <h3 class="col-xs-7 username">{{user?.name}} {{user?.lastName}}</h3>
            <div class="col-xs-7 col-sm-7">
            <div class="col-xs-4"><img class="specifier-image" src="../../../../assets/images/age.png"></div>
            <div class="col-xs-4"><img class="specifier-image" src="../../../../assets/images/height.png"></div>
            <div class="col-xs-4"><img class="specifier-image" src="../../../../assets/images/weight.png"></div>
            <p class="col-xs-4">{{user?.age}}yo</p>
            <p class="col-xs-4">{{user?.length}}cm</p>
            <p class="col-xs-4">{{user.weight}}kg</p>
            </div>
        </div>
    </div>
</div>