.card{
  background-color: rgba(255,255,255,.9);
  border: rgba(0,0,0,0.3) solid 1px;
  color:black;
  height: 210px;
  width:100%;
  padding: 5%;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.cardWrapper{
  padding-left:16px;
  padding-right:16px;
  padding-bottom:16px;
  padding-top:16px;
}

.table{
  width:50%;
}

.table tbody tr td{
  border:none;
  padding:3px;
}

.table tbody tr{
  width:50%;
}

.cardImage{
  width:100%;  
}

@media screen and (max-width: 768px) {
  .cardImage{
      width:100%;
  }

  .card{
      height:300px;
      font-size: 1.5em;
  }
}

.userInfo{
  font-weight:bold;
}

.cardDiv{
  float:right;
}

#addCard{
  font-weight: bold;
  text-align:center;
  background-color: rgba(0,210,255,0.7);
}

.card:hover {
  color: white;
  background-color:rgba(70,255,0,.5) !important;
  -webkit-transform:scale(1.02);
  -moz-transform:scale(1.02);
  -ms-transform:scale(1.02);
  -o-transform:scale(1.02);
  transform:scale(1.02);}

.addImage{
  width:50%;
  height:90%;
}

#addUserModal{
  color:black;
}