<div class="outerWrapper">
    <div class="innerWrapper">
    <div routerLink="/useroverview" class="col-xs-4 col-xs-offset-4 col-md-2 col-md-offset-2 homeDiv">
        <h4>Users</h4>
        <img class="homeImage" src="../../assets/images/users.svg">
    </div>
    <div class="col-xs-12 col-md-2 col-md-offset-1 logoDiv"><img src="../../assets/images/JE-logo.svg"></div>
    <div routerLink="/exercise" class="col-xs-4 col-xs-offset-4 col-md-2 col-md-offset-1 homeDiv">
        <h4>Exercises</h4>
        <img class="homeImage" src="../../assets/images/exercise1.svg">
    </div>
    </div>
</div>