<div class="outer-wrapper">
    <div class="inner-wrapper">
    <div routerLink="/useroverview" class="col-xs-4 col-xs-offset-4 col-md-2 col-md-offset-2 home-div">
        <h4>Users</h4>
        <img class="home-image" src="../../assets/images/users.svg">
    </div>
    <div class="col-xs-12 col-md-2 col-md-offset-1 logo-div"><img src="../../assets/images/JE-logo.svg"></div>
    <div routerLink="/exercise" class="col-xs-4 col-xs-offset-4 col-md-2 col-md-offset-1 home-div">
        <h4>Exercises</h4>
        <img class="home-image" src="../../assets/images/exercise1.svg">
    </div>
    </div>
</div>