<div class="container">
    <div class="jumbotron homejumbo">
        <h1>Welkom op de management app van Joint Effort</h1>
    </div>
    <div routerLink="/useroverview" class="col-xs-12 col-md-4 homeDiv">
        <h1>Users</h1>
        <img src="../../assets/images/users.png">
    </div>
    <div routerLink="/exercise" class="col-xs-12 col-md-4 homeDiv">
        <h1>Exercises</h1>
        <img src="../../assets/images/exercise.png">
    </div>
    <div class="col-xs-12 col-md-4 homeDiv thirdDiv">
        <h1>Settings</h1>
        <img src="../../assets/images/settings.png">
    </div>
</div>