.homeDiv{
  text-align: center;
  margin-top:20%;
  background-color:white;
  overflow-x:hidden;
}

@media (max-width:992px){
  .homeDiv:nth-child(even){
    margin-top:5%;
  }
  .homeDiv:nth-child(odd){
    margin-top:15%;
  }
}

.homeImage{
  width: 100px;
  height:100px;
}

h4{
  margin-bottom:0;
  margin-top:30px;
}

.homeDiv:before {
  transform: translateX(100%);
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border-bottom: 8px solid transparent;
  border-left: 8px solid transparent;
}
      
.homeDiv:after {
  transform: translateX(-100%);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border-top: 8px solid transparent;
  border-right: 8px solid transparent;
}

.homeDiv:hover {
	color: inherit;
	text-decoration: none;
  border: none;
  box-shadow: none;
} 
      
.homeDiv:hover:before {
  transition: .1s transform linear, .1s height linear .1s;
  transform: translateX(0);
  height: 100%;
  border-color:#C19AFF;
}
  .homeDiv:hover:after {
  transition: .1s transform linear .2s, .1s height linear .3s;
  transform: translateX(0);
  height: 100%;
  border-color: #C19AFF    
}